:root {
  --text: #000;
}
$size12: 12;
$size14: 14;
$size16: 16;
$size18: 18;
$size20: 20;
$size22: 22;
$size24: 24;
$size28: 28;
$size30: 30;
$size32: 32;
$size34: 34;
$size36: 36;
$size38: 38;
$size40: 40;
$primary-color: #fff;
$heading-color: #070707;